html, body {
  margin: 0;
}

/* apply a natural box layout model to all elements, but allowing components to change */
/* https://www.paulirish.com/2012/box-sizing-border-box-ftw/ */
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

/* System Fonts as used by GitHub */
/* https://css-tricks.com/snippets/css/system-font-stack/ */
body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

a.go-home {
  display: block;
}

a.skip-to-content {
  position: absolute;
  top: 1rem;
  right: 1rem;
  z-index: 10;
}

:root {
  --ada-coral: rgb(236,98,113);
  --ada-purple: rgb(149,96,159);
  --ada-blue: rgb(108,184,231);
  --ada-green: rgb(161,200,84);
  --ada-orange: rgb(246,131,82);
  --ada-grey: rgb(211,212,211);
  --ada-yellow: rgb(245,225,52);
}


header, section, footer {
  padding: 1rem;
}

header {
  position: fixed;
  width: 30%;
  height: 100vh;
  border-right: 1rem solid var(--ada-orange);
}

header h1 {
  display: inline-block;
  border-bottom: 0.5rem dotted var(--ada-blue);
}

section h1 {
  display: inline-block;
  border-bottom: 0.25rem dotted var(--ada-yellow);
}

section {
  width: 70%;
  position: relative;
  margin-left: 30%;
  min-height: 100vh;
  background: white;
}

footer {
  position: fixed;
  width: 100%;
  bottom: 0;
  text-align: center;
  background: white;
  border-top: 0.75rem solid var(--ada-green)
}